.home-container {
  width: 100%;
  height: 100%;
  position: relative;

  main {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    h1 {
      margin-bottom: 40px;
      text-align: center;
      color: #fff;
      font-family: "elegant";
      font-size: 60px;
      letter-spacing: 1.4px;
      line-height: 1.4px;
    }
    .search-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: auto;
      padding: 10px;
      position: relative;
      input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        transition: 0.5s ease-in-out;
        border-width: 3px;
        margin-bottom: 15px;
        border-color: transparent;
        &:focus,
        &:hover {
          border-color: #ffba15;
        }
      }
      .filterd-data{
        padding: 10px;
        background-color: #fff;
        top: 0px;
        height: 320px;
        max-height: 320px;
        border-radius: 5px;
        position: absolute;
        width: calc(100% - 20px);
        transform: translateY(60px);
        overflow-y: scroll;
        visibility: hidden;
        .item{
          padding: 10px;
          border-bottom: 1px solid rgb(218, 223, 225); 
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .all-recipes{
      margin-top: 10px;
      text-align: center;
      a{
        color: #fff;
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.display-search-results{
  visibility: visible !important;
}
