header{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    .logo{
        font-family: 'elegant';
        font-size: 40px;
    }
    nav{
        align-self: flex-end;
        margin-left: 80px;
        ul{
            display: flex;
            text-decoration: none;
            list-style: none;
            li{
                margin: 0px 30px;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    color:black;
                }
            }
        }
    }    
}



